<% include ../partials/header %>

<div class="container content-container">
    <div class="row">
        <!-- Smaller column with navigation -->
        <div class="col-md-3">
            <h2 class="lead"><%= city.name %></h2>
            <div class="list-group">
                <li class="list-group-item active">Nav 1</li>
                <li class="list-group-item">Nav 2</li>
                <li class="list-group-item">Nav 3</li>
            </div>
        </div>
        
        <!-- Larger column with the main content -->
        <div class="col-md-9">
            <!-- City Image -->
            <figure class="figure">
              <img src="<%= city.image %>" class="figure-img img-fluid rounded" alt="A picture of <%= city.name %>">
            </figure>
            
            <!--Sub-columns w/ City name, description, CPI Index and other basic stats-->
            <div class="row">
                <div class="col-md-8">
                    <h3 class="text-left"><%= city.name %></h3>
                    <p class="text-left"><%= city.description %></p>
                </div>
                <div class="col-md-4">
                    <p>CPI: 82.5</p>
                    <p>Submitted by: <%= city.author.username %></p>
                    <br>
                    <!-- Only show the "Edit" and "Delete" buttons if user is authorized -->
                    <% if (user && city.author.id.equals(user._id)){ %> 
                        <p>
                            <a href="/cities/<%= city._id %>/edit" class="btn btn-sm btn-warning">Edit city information</a>
                        </p>
                        <form action="/cities/<%= city._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete city</button>
                        </form>
                        </p>
                    <% } %>
                </div>
            </div>
            
            <!-- Comments -->
            <div class="container bg-faded">
                <!--Button to add a comment-->
                <a id="new-comment-btn" href="/cities/<%= city._id %>/comments/new" class="btn btn-info">Add a comment</a>
                <hr />
                
                <!--Loop for the comments-->
                <% city.comments.forEach(function(comment){ %>
                    <div class="row comment-row">
                        <div class="col-12">
                            <strong> <%= comment.author.username %>: </strong>
                            <span class="float-right"><em>1 day ago</em></span>
                            <br>
                            <p id="comment-text">
                                &emsp; "<%= comment.text %>"
                            </p>
                                
                                <!-- Only show the "Edit" and "Delete" buttons if user is authorized -->
                                <% if (user && comment.author.id.equals(user._id)){ %> 
                                    <form class="float-right delete-comment-form"
                                          action="/cities/<%= city._id %>/comments/<%= comment._id %>?_method=DELETE" 
                                          method="POST">
                                        
                                        <a  href="/cities/<%= city._id %>/comments/<%= comment._id %>/edit" 
                                            class="btn btn-sm btn-warning">
                                            Edit Comment
                                        </a>
                                        <button class="btn btn-sm btn-danger delete-comment-btn">Delete Comment</button>
                                    </form>
                                <% } %>
                            
                            <br>
                            <br>
                        </div>
                    </div>
                <% }); %>
                
            </div>
        </div> <!-- End Subcolumn -->
    </div> <!-- End main row/columns -->
</div> <!-- End main page container -->
    
    
    
</div>  <!-- End container -->

<!--Footer -->
<% include ../partials/footer %>